---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

// 1. On récupère les projets et on garde seulement les 3 premiers
const allProjects = await getCollection("projects");
const previewProjects = allProjects
  .sort((a, b) => a.data.order - b.data.order)
  .slice(0, 3);
---

<section class="w-full max-w-[1920px] mx-auto mb-24 md:mb-32 px-4 md:px-12">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-2 md:gap-4">
    
    {previewProjects.map((project) => (
      <a href={`/projects/${project.slug}`} class="block relative aspect-square overflow-hidden group">
        <Image
          src={project.data.image}
          alt={project.data.title}
          class="w-full h-full object-cover transition-transform duration-1000 group-hover:scale-105"
          transition:name={`image-${project.slug}`}
        />
        
        <div class="absolute inset-0 bg-background-dark/40 opacity-0 group-hover:opacity-100 transition-opacity duration-500 flex items-center justify-center">
            <span class="text-white font-display text-xl lg:text-2xl italic tracking-wide translate-y-4 group-hover:translate-y-0 transition-transform duration-500">
              {project.data.title}
            </span>
        </div>
      </a>
    ))}

    <a href="/projects" class="flex flex-col items-center justify-center aspect-square bg-accent-dark dark:bg-accent hover:opacity-90 transition-opacity text-white group">
      <span class="material-symbols-outlined text-2xl md:text-3xl mb-4 group-hover:translate-x-2 transition-transform duration-300 font-light">arrow_forward</span>
      <span class="text-[10px] md:text-xs uppercase tracking-[0.2em] font-medium">View More</span>
    </a>

  </div>
</section>